#calendarImage img {
    height: 130px;
    margin: 10px;
    padding-left:35px;
    padding-right: 30px;
    padding-top: 10px;
}

#calendarWord {
    box-sizing: border-box;
    width: 220px;
    text-align: center;
    padding-top: 10px;
}
