#dateTitle {
    box-sizing: border-box;
    width: 220px;
    text-align: center;
    padding-top: 10px;
}

#current-date {
    display: block;
    box-sizing: border-box;
    width: 220px;
    padding: 40px 45px 0 45px;
    text-align: center;
    font-size: 23px;
    font-weight:bold;
}

#event-title {
  text-align:center;
  font-size:20px;
  font-weight:bold;
}
