#countDownImg{
  display: block;
  max-height: 35vh;
  position: absolute;
  z-index: 10;
  bottom: 52px;
  left: 48px;
  border-radius: 4px;
  width: 160px;
  height:160px;

}

#walkingGifImg{
  display: block;
  max-height: 35vh;
  position: absolute;
  z-index: 10;
  bottom: 60px;
  left: 48px;
  border-radius: 4px;
  width: 160px;
  height:160px;

}

#emergencyMsg {
  color: red;
  text-align: center;
  margin-block-start: 0;
  position: absolute;
  z-index: 10;
  font-size: 1.2em;
}
