#gamesImage img {
    height: 150px;
    margin: 10px;
    padding-left:25px;
    padding-right: 30px;

}

#centralizedWord {
    box-sizing: border-box;
    width: 220px;
    text-align: center;
    padding-top: 10px;
}
