#gamesImage img {
    height: 150px;
    margin: 10px;
    padding-left:25px;
    padding-right: 30px;

}

#walkingImage img {
    height: 140px;
    margin: 10px;
    padding-left:50px;
    padding-right: 30px;

}

#centralizedWord {
    box-sizing: border-box;
    width: 220px;
    text-align: center;
    padding-top: 10px;
}

#centralizedBigWord {
    box-sizing: border-box;
    width: 220px;
    text-align: center;
    padding-top: 55px;
    font-size: 30px;

}
