.med-text {
    padding-top: 38px;
    padding-bottom: 5px;
    text-align: center;
    padding-right: 22px;
}

.med-text-success {
    padding-top: 35px;
    padding-bottom: 5px;
    text-align: center;
    padding-right: 22px;
}

.med-text-fail {
    padding-top: 35px;
    padding-bottom: 3px;
    text-align: center;
    padding-right: 22px;
}

.med-image {
    width: 36%;
    padding-left: 65px;
    padding-top: 0px;
}

.fail-med-image {
   width: 46%;
    padding-left: 53px;
    padding-top: 19px;
}
