.med-text {
    padding-top: 55px;
    text-align: center;
    padding-right: 22px;
}

.med-text-success {
    padding-top: 35px;
    text-align: center;
    padding-right: 22px;
}

.med-image {
    width: 36%;
    padding-left: 65px;
    padding-top: 0px;
}
