#face {
    box-sizing: border-box;
    width: 220px;
    padding: 0 40px 0 40px;
    text-align: center;
}

#moodline {
    box-sizing: border-box;
    width: 220px;
    padding-top: 10px;
    text-align: center;
}

#greeting {
    display: block;
    box-sizing: border-box;
    width: 220px;
    padding: 90px 45px 0 45px;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
}

#contact {
    box-sizing: border-box;
    width: 220px;
    text-align: center;
    padding-top: 10px;
}

#contact img {
    height: 90px;
    margin: 10px;
}

#contact-name {
    font-size: 20px;
    font-weight: bold;
}

#contact-number {
    font-size: 16px;
}

