#face {
    box-sizing: border-box;
    width: 220px;
    padding: 0 40px 0 40px;
    text-align: center;
}

#moodline {
    box-sizing: border-box;
    width: 220px;
    padding-top: 10px;
    text-align: center;
}

#middletext {
    display: block;
    box-sizing: border-box;
    width: 220px;
    padding:50px;
    padding-top:100px;
    text-align:center;
}
