#cancel {
    display: inline-block;
    background: #3f484a;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -50px;
}

#face {
    width:220px;
    text-align: center;
}
