<div id="dateTitle">
  <p>Calendar Day</p>
</div>

<div id="current-date">
  <span>{{currentDate}}</span>
</div>

<div id="lefticon">
    <img src="{{left}}" alt="" />
</div>

<div id="righticon">
    <img src="{{right}}" alt="" />
</div>

<div id="cross">
    <img src="{{cross}}" alt="" />
</div>
