<div id="contact">
    <div id="contact-name"> George </div>
    <div id="contact-image"> <img src="{{friend}}" alt="" /> </div>
    <div id="call-status"> {{callStatus}} </div>
</div>

<div id="cross">
    <img src="{{cross}}" alt="" />
</div>


