<div id="contact">
    <div id="contact-name"> Police </div>
    <div id="contact-image"> <img src="{{icon}}" alt="" /> </div>
    <div id="contact-number"> 000 </div>
</div>

<div id="lefticon">
    <img src="{{left}}" alt="" />
</div>

<div id="righticon">
    <img src="{{right}}" alt="" />
</div>

<div id="cross">
    <img src="{{cross}}" alt="" />
</div>


