<div id="middletext">
  Good evening, how do you feel?
</div>

<div id="topicon">
    <img src="{{neutralface}}" alt="" />
</div>

<div id="lefticon">
    <img src="{{happyface}}" alt="" />
</div>

<div id="righticon">
    <img src="{{sadface}}" alt="" />
</div>

<div id="cross">
    <img src="{{cross}}" alt="" />
</div>
