
<span>
  <img src="../images/current-location.png"/>
</span>

<div id="lefticon">
    <img src="../images/take-me-home.png"/>
</div>

<div id="righticon">
    <img src="../images/heart.png"/>
</div>
<div id="cross">
    <img src="../images/cross.png"/>
</div>