<div id="greeting">
  TAKE YOUR MEDICINE
 <img src="../images/happy-med.jpg">
</div>



{{!-- 
<div id="topicon">
    <img src="{{neutralface}}" alt="" />
</div> --}}


<div id="cross">
    <img src="{{cross}}" alt="" />
</div>
