<div id="middletext">
  Good morning, how do you feel?
</div>

<div id="topicon-container">
    <img src="{{neutralface}}" alt="" />
</div>

<div id="lefticon-container">
    <img src="{{happyface}}" alt="" />
</div>

<div id="righticon-container">
    <img src="{{sadface}}" alt="" />
</div>

<div id="cross">
    <img src="{{cross}}" alt="" />
</div>
