{{!-- <div id="topicon">
    <img src="../images/tick.png"/>
</div> --}}

<div class="med-text-success">
  GOOD JOB!
</div>
 <img class="med-image" src="../images/success-med.png"/>

<div id="cross">
    <img src="../images/cross.png"/>
</div>
