{{!-- <div id="topicon">
    <img src="../images/tick.png"/>
</div> --}}

<div class="med-text">
  GOOD JOB!
</div>
 {{!-- <img class="med-image" src="../images/happy-med.jpg"/> --}}

{{!-- <div id="cross">
    <img src="../images/cross.png"/>
</div> --}}
