<!-- <div id="centralizedWord">
Walking gif
</div> -->


<img id=walkingGifImg src="{{walkinggif}}" alt="Emergency Count Down" />

<!-- <div id="walkingImage">
    <img src="{{walkingIcon}}" alt="" />
</div> -->


<div id="cross">
    <img src="{{cross}}" alt="" />
</div>
